<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exam %><br>
    <%= f.text_field :exam %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :report %><br>
    <%= f.text_field :report %>
  </div>
  <div class="field">
    <%= f.label :p_name %><br>
    <%= f.text_field :p_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :课程编号 %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :attendance %><br>
    <%= f.text_field :attendance %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :day_week %><br>
    <%= f.text_field :day_week %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>积极